<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <style>
        *{
            background-color: antiquewhite;
        }
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Welcome to my About PAge </h1>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet dignissimos fugiat sed quisquam in quibusdam. Magnam asperiores officia a, omnis architecto earum soluta voluptatem repellendus natus quae. Earum quis exercitationem natus laboriosam cum itaque officiis, aperiam laborum veniam in explicabo velit atque molestias quisquam ullam distinctio quia similique dolore, beatae, modi ut commodi sit. Quo facere suscipit aliquam alias fuga consequuntur expedita obcaecati dignissimos, voluptatibus quae ducimus amet repellat vero excepturi odit nisi voluptates eum mollitia! Non consequuntur aliquid esse quibusdam aut eveniet repellat, aliquam unde consequatur dicta dolorum repellendus delectus alias ipsum maxime dolor officiis libero vel soluta ex!</p>
    <a href="/">
        <button>Go to Home</button>
    </a>
    
</body>
</html>