<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        *{
            background-color: bisque;
        }
        h1{
            text-align: center;
        }
    </style>
</head>
<body>

    <h1>Welcome to my Home Page !!</h1>

    <br>
    <a href="/about">About</a> |
    <a href="/contact">Contact</a> 
    <br><br><br><br>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque natus ullam hic ducimus nesciunt accusamus, quam dicta, saepe officia porro voluptate voluptatem illo voluptatum quod! Dolores enim corporis sint exercitationem necessitatibus iste minus corrupti obcaecati magni repellendus maxime aliquid, itaque perferendis mollitia assumenda optio velit deserunt harum eius amet dolor. Quos corrupti provident accusantium cupiditate neque, fuga, modi repellendus fugit placeat, voluptate tenetur eligendi nobis. Tempora obcaecati nostrum pariatur minus sint adipisci ut blanditiis amet sunt recusandae. Vitae cumque corporis tempore ipsam, nihil recusandae sed modi distinctio hic libero quaerat nesciunt ratione ad exercitationem unde! Consequatur assumenda minus illum soluta.</p>
    
</body>
</html>